* {
    margin:0;
    box-sizing: border-box;
}

a{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    color: #fff;
    font-family: 'Arial';
}

.top-nav{
    background-color: #B91616;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70px;
}

.top-nav-block-center{
    width:40%;
    display:flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.top-nav-block-center a{
    font-size: 18px;
    line-height: 22px;
}

.top-nav-block-center a:hover{
    font-size: 24px;
    line-height: 29px;
}

.top-nav-block-right{
    position: absolute;
    right: 15%;
    padding: 20px;
    cursor: pointer;
}

.top-nav-block-right:hover{
    background-color: rgba(0,0,0,0.2);
}

.top-nav-block-right span{
    font-size: 18px;
    line-height: 22px;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-preview {
    margin-top:70px;
    position: relative;
    display: flex;
    height: 60%;
    width: 80%
}

.preview-img-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview-img-left{
    width: 40%;
    margin-right:10px;
}

.preview-img-left img{
    height:48%;
    width: 100%;
}

.preview-img-right{
    width: 60%;
    margin-left:10px;
}

.preview-img-right img{
    height:100%;
    width: 100%;
}

.preview-title-center{
    position:absolute;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.title-text-top{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.title-text-down{
    font-weight: 700;
    font-size: 220px;
    line-height: 243px;
}

.content-my-portfolio{
    margin-top:70px;
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.my-portfolio-title-right{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: end;
}

.title-text-left{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.title-line-right{
    height:2px;
    background-color: #fff;
    width: 9%;
    margin-left: 1%;
}

.my-portfolio-projects-center{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
}

.project-cart{
    width:48%;
    height:400px;
    margin: 10px;
}

.project-cart img{
    width:100%;
    height:100%;
}

.cart-name-absolute{
    display: none;
}

.cart-info-absolute{
    display: none;
}


.btn-hide-projects{
    padding: 20px 60px;
    border: 2px solid #fff;
    border-radius: 15%;
    cursor: pointer;
    margin-top: 40px;
}

.btn-hide-projects:hover{
    border: 2px solid #333;
    background-color: #fff;
    color: #000;
}

.content-about-me{
    width:100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
}

.about-me-title-left{
    display:flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.title-line-left{
    height:2px;
    background-color: #fff;
    width: 9%;
    margin-right: 1%;
}

.title-text-right{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.about-me-content-center{
    width:100%;
    display:flex;
    justify-content: end;
    align-items: start;
    margin-top: 20px;
}

.content-block-left-red{
    height: 60px;
    width: 9%;
    background-color: #B91616;
    position: absolute;
    z-index: 100;
    left: 0;
    margin-top: 45px;
}

.content-text-center{
    font-size: 68px;
    line-height: 88px;
    position: absolute;
    z-index: 100;
    left: 10%;
    margin-top: 30px;
    width:60%;
}

.text-red{
    color: #B91616;
}

.about-me-content-center img{
    width: 50%;
}


.footer{
    margin-top: 70px;
    width:100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    background-color: #B91616;
}

.footer-my-contact-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-contact-text{
    padding: 0 10px;
}
